/*======================================================
  Change base colors for Custom Plush pallete
  ======================================================*/

/* Titi colors as example
$color-background: #f0f2f8;
$color-primary: #5a81fb;
$color-secondary: #00c6fc;
$color-accent: #ff537c;
$color-error: #ff7e7e;
$color-warning: #ffbf00;
$color-info: #ff9800;
$color-success: #9fd895;
$color-font: #2c3852;
$color-border: #c5d0e4;
$white: #ffffff;
*/
